/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 32px;
}

.search {
}

.input {
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.input:hover {
  border: 1px solid #000;
}

.input:focus {
  outline: none;
  border: 1px solid #4e75ff;
  border-radius: 4px;
}

.submit {
  cursor: pointer;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.submit:hover {
  background: #6c8cff;
}

.loader {
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
}

.gallery-item {
  width: 300px;

  border: 1px solid #2e2f42;
  background-color: #fff;
  width: calc((100% - 48px) / 4);
}
.gallery-image {
  object-fit: cover;
  width: 100%;
  height: 80%;
}
.detail-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.img-info-box {
  display: flex;
  flex-direction: row;
  width: auto;
  text-align: center;
  justify-content: space-between;
  padding: 10px;
}

.loader {
  width: 48px;
  height: 48px;
  display: none;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: #ff3d00;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
